.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #06a94d;
    color: #fff;
    padding: 8px 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.label {
    font-size: 30px;
}

.queue-number {
    font-size: 80px;
    font-weight:bold;
}

.btn-secondary {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #2f6fed;
    color: #fff;
    width: 20%;
    cursor: pointer;
}