.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;;
}

.header {
    background-color: #06a94d;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.label {
    font-size: 30px;
}

.queue-number {
    font-size: 64px;
    font-weight: bold;
}

.btn-main,
.btn-secondary {
    border: none;
    padding: 10px 24px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-main {
    background-color: #ff5555;
    color: #fff;
}

.btn-secondary {
    background-color: #e0e0e0;
}