.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;;
}

.header {
    background-color: #06a94d;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.label {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.queue-number {
    font-size: 120px;
    font-weight:bold;
    text-align: center;
}

.btn-main,
.btn-secondary {
    border: none;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 15px;
    width: 20%;
    background-color: #2f6fed;
    color: #fff;
    cursor: pointer;
}

.btn-main:hover {
    background-color: #1f5bd1;
    transform: scale(1.03);
    transition: 0.15s ease;
}

.btn-secondary:active {
    background-color: #1748a7;
    transform: scale(0.98);
}

.btn-secondary:hover {
    background-color: #1f5bd1;
    transform: scale(1.03);
    transition: 0.15s ease;
}

.btn-secondary:active {
    background-color: #1748a7;
    transform: scale(0.98);
}